<div class="app-header">
  <div class="header-wrapper">
    <h1 id="title">My blog app</h1>
    <div class="navigation">
      <button class="btn btn-primary nav-btn" [routerLink]="['posts']">Home</button>
      <button class="btn btn-success nav-btn" [routerLink]="['new-post']">Create new
        post
      </button>
      <button class="btn btn-light nav-btn" [routerLink]="['user-posts']">My
        posts
      </button>
    </div>
    <small>Default user_id is 122 (for now)</small>
  </div>
</div>
